@import "./base.css";
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.backdrop {
    filter: blur(3px);
    transition: filter 1s;
}

.backdrop-inactive {
    filter: blur(0);
    transition: filter 1s;
}